/* ****************************

        Default Values

Font: Roboto(paragraphs), Calistoga (headings), serif (nav links)

Colors:
1 Sizzling red: #F46571:
2. Really dark Blue: #181e2c;
3. Really light Blue: #e5ebf8;

**************************** */

/* -----------------------
        Basic Setup
----------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}


body{
    color: #181e2c;
    font-family: 'Merienda One', sans-serif;
    text-rendering: optimizeLegibility;
    background-image: linear-gradient(to bottom, #4f0814, #6e251c, #8c4223, #a76129, #bd8331, #c47d3b, #ca7846, #cd7451, #a9545f, #75405f, #40314d, #181e2c);
}

li{    
    list-style: none;
    display: inline-block;
    
}

a{
    text-decoration: none;
}

.container{
    background-color: antiquewhite;
}
